<form method="post" action="{{ path('app_emprunt_delete', {'id': emprunt.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emprunt.id) }}">
    <button class="btn">Delete</button>
</form>
